
.bordered{
  border: 3px solid lightgreen;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.heading{
  margin: 30px;
}

.bold{
  font-weight: bold;
}

.greenline{
  border: 0.5px solid green;
}